services:
  db:
    image: postgres:16
    container_name: starwars_db
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
   
  api:
    build: .
    container_name: starwars_api
    depends_on:
      - db
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/app
      - ./logs:/app/logs
    command: ["uvicorn", "api:app", "--host", "0.0.0.0", "--port", "8000"]

  scheduler:
    build: .
    container_name: starwars_scheduler
    depends_on:
      - db
    env_file:
      - .env
    volumes:
      - .:/app
      - ./logs:/app/logs
    command: ["python", "main.py"]

volumes:
  pg_data:
